html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
.img-flex {
  display:block;
  width: 100%;
}

.banner {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  max-height: 500px;
  max-width: 50em;
  display: inline;
  max-height: 50em;

}

p {
  font-size: 2rem;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}

.card{
  overflow: hidden;
  position: relative;
}

.div {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
