html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
  line-height: 1.4;
  padding: 0;
}

p {
  font-size: 2rem;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.card {
  overflow: hidden;
  position: relative;
  max-height: 500px;
  bottom: 0;
}

.banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50em;
  padding: .2rem 1.5rem;
  width: 100%;
  bottom: 15px;
  line-height: 1.5;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}
