html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
.img-flex {
  display:block;
  width: 100%;
}

.banner {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
}

.card-body {
  font-size: 2rem;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}
